@import "tailwindcss";

@font-face {
  font-family: 'General Sans';
  src: url('https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,600,700&display=swap');
}

@theme {
  --font-sans: 'General Sans', ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #ffffff;
  color: #171717;
  font-family: var(--font-sans);
}
